@model Endpoint.MVC.Dtos.Products.UpdateProductDto


<div class="container border rounded-2 p-2 my-2">

    <form method="post" asp-area="admin" asp-controller="product" asp-action="updatenonauction" class="form">
        
        <input type="hidden" class="form-control" asp-for="@Model.Id" />
        <input type="hidden" class="form-control" asp-for="@Model.CategoryId" />
        <div>
            <label class="form-label">عنوان فارسی</label>
            <input type="text" class="form-control" asp-for="@Model.PersianTitle" />
            <span class="text-danger" asp-validation-for="@Model.PersianTitle"> </span>
        </div>
      
        <div>
            <label class="mt-4 form-label">عنوان لاتین</label>
            <input type="text" class="form-control" asp-for="@Model.EnglishTitle" />
            <span class="text-danger" asp-validation-for="@Model.EnglishTitle"> </span>
        </div>
   
        <div>
            <label class="mt-4 form-label">تخفیف %</label>
            <input type="text" class="form-control" asp-for="@Model.Discount" />
            <span class="text-danger" asp-validation-for="@Model.Discount"> </span>
        </div>
 
        <div>
            <label class="mt-4 form-label">قیمت (تومان)</label>
            <input type="text" class="form-control" asp-for="@Model.Price" />
            <span class="text-danger" asp-validation-for="@Model.Price"> </span>
        </div>
        
        <div>
            <label class="mt-4 form-label">توضیحات</label>
            <textarea class="form-control" asp-for="@Model.Description">@Model.Description</textarea>
            <span class="text-danger" asp-validation-for="@Model.Description"> </span>
        </div>


        <div class="mt-4">
            @for (int i = 0; i < Model.CustomAttributes.Count(); i++)
            {
                <div class="mt-1">
                    <input type="hidden" asp-for="@Model.CustomAttributes[i].Id" />
                    <input type="hidden" asp-for="@Model.CustomAttributes[i].Title" />
                    <label class="mt-1 form-label">@Model.CustomAttributes[i].Title:  </label>
                    <input  type="text" class="form-control" asp-for="@Model.CustomAttributes[i].Value" />
                    <span class="text-danger" asp-validation-for="@Model.CustomAttributes[i]"> </span>

                </div>
            }

        </div>

        <div class="text-center">
            <button type="submit" class="my-4 btn btn-info">بروزرسانی </button>
        </div>


    </form>
</div>