@using Endpoint.MVC.ExtensionMethods;
@model Endpoint.MVC.Dtos.Products.AuctionDetailsDto


<div class="container border rounded-2 p-2 my-2">

    <form method="post" asp-area="admin" asp-controller="product" asp-action="UpdateAuction" class="form">

        <input type="hidden" class="form-control" asp-for="@Model.Id" />
        <input type="hidden" class="form-control" asp-for="@Model.CategoryId" />
        <input type="hidden" class="form-control" asp-for="@Model.BoothTitle" />
        <input type="hidden" class="form-control" asp-for="@Model.PictureName" />

        <div>
            <label class="form-label">عنوان فارسی</label>
            <input required oninvalid="this.setCustomValidity('فیلد الزامی')" oninput="this.setCustomValidity('')" type="text" class="form-control" asp-for="@Model.PersianTitle" />
            <span class="text-danger" asp-validation-for="@Model.PersianTitle"> </span>
        </div>

        <div>
            <label class="mt-4 form-label">عنوان لاتین</label>
            <input required oninvalid="this.setCustomValidity('فیلد الزامی')" oninput="this.setCustomValidity('')" type="text" class="form-control" asp-for="@Model.EnglishTitle" />
            <span class="text-danger" asp-validation-for="@Model.EnglishTitle"> </span>
        </div>

        <div>
            <label class="mt-4 form-label">زمان شروع</label>
            <input required oninvalid="this.setCustomValidity('فیلد الزامی')" oninput="this.setCustomValidity('')" type="date" class="form-control" asp-for="@Model.FromDate" />

        </div>

        <div>
            <label class="mt-4 form-label">زمان پایان</label>
            <input required oninvalid="this.setCustomValidity('فیلد الزامی')" oninput="this.setCustomValidity('')" type="date" class="form-control" asp-for="@Model.ToDate" />

        </div>
        
        <div>
            <label class="mt-4 form-label">حداقل قیمت قابل پیشنهاد (تومان)</label>
            <input required oninvalid="this.setCustomValidity('فیلد الزامی')" oninput="this.setCustomValidity('')" type="number" class="form-control" asp-for="@Model.MinPrice" />
        </div>
       
        <div>
            <label class="mt-4 form-label">توضیحات</label>
            <textarea required oninvalid="this.setCustomValidity('فیلد الزامی')" oninput="this.setCustomValidity('')" class="form-control" asp-for="@Model.Description">@Model.Description</textarea>
            <span class="text-danger" asp-validation-for="@Model.Description"> </span>
        </div>
    

        <div class="mt-4">
            @for (int i = 0; i < Model.CustomAttributes.Count(); i++)
            {
                <div class="mt-1">
                    <input type="hidden" asp-for="@Model.CustomAttributes[i].Id" />
                    <input type="hidden" asp-for="@Model.CustomAttributes[i].Title" />
                    <label class="mt-1 form-label">@Model.CustomAttributes[i].Title:  </label>
                    <input required oninvalid="this.setCustomValidity('فیلد الزامی')" oninput="this.setCustomValidity('')" type="text" class="form-control" asp-for="@Model.CustomAttributes[i].Value" />
                    <span class="text-danger" asp-validation-for="@Model.CustomAttributes[i].Value"> </span>

                </div>
            }

        </div>

        <div class="text-center">
            <button type="submit" class="my-4 btn btn-info">بروزرسانی </button>
        </div>


    </form>
</div>