@model Endpoint.MVC.Dtos.Products.UpdateProductDto


<div class="container border rounded-2 p-2 my-2">

    <form method="post" asp-area="admin" asp-controller="product" asp-action="updatenonauction" class="form">
        
        <input type="hidden" class="form-control" asp-for="@Model.Id" />
        <input type="hidden" class="form-control" asp-for="@Model.CategoryId" />

        <label class="form-label">عنوان فارسی</label>
        <input type="text" required class="form-control" asp-for="@Model.PersianTitle" />

        <label class="mt-4 form-label">عنوان لاتین</label>
        <input type="text" required class="form-control" asp-for="@Model.EnglishTitle" />

        <label class="mt-4 form-label">تخفیف %</label>
        <input type="text" required class="form-control" asp-for="@Model.Discount" />

        <label class="mt-4 form-label">قیمت (تومان)</label>
        <input type="text" required class="form-control" asp-for="@Model.Price" />

        <label class="mt-4 form-label">توضیحات</label>
        <textarea class="form-control" required asp-for="@Model.Description">@Model.Description</textarea>

        <div class="mt-4">
            @for (int i = 0; i < Model.CustomAttributes.Count(); i++)
            {
                <div class="mt-1">
                    <input type="hidden" asp-for="@Model.CustomAttributes[i].Id" />
                    <input type="hidden" asp-for="@Model.CustomAttributes[i].Title" />
                    <label class="mt-1 form-label">@Model.CustomAttributes[i].Title:  </label>
                    <input required type="text" class="form-control" asp-for="@Model.CustomAttributes[i].Value" />

                </div>
            }

        </div>

        <div class="text-center">
            <button type="submit" class="my-4 btn btn-info">بروزرسانی </button>
        </div>


    </form>
</div>