@model Endpoint.MVC.Dtos.Booth.UpdateBoothViewModel


<div class="container border rounded-2 p-2 my-2">

    <form method="post" asp-area="seller" asp-controller="booth" asp-action="update" class="form" enctype="multipart/form-data">

        <input type="hidden" class="form-control" asp-for="@Model.Id" />
        <div>
            <label class="form-label">عنوان غرفه</label>
            <input required oninvalid="this.setCustomValidity('فیلد الزامی')" oninput="this.setCustomValidity('')" type="text" class="form-control" asp-for="@Model.Title" />
            <span class="text-danger" asp-validation-for="@Model.Title"></span>
        </div>
       
        <div>
            <label class="mt-4 form-label">توضیحات</label>
            <textarea required oninvalid="this.setCustomValidity('فیلد الزامی')" oninput="this.setCustomValidity('')" class="form-control" asp-for="@Model.Description">@Model.Description</textarea>
            <span class="text-danger" asp-validation-for="@Model.Description"></span>
        </div>
       
        <div>
            <label class="form-label">تصویر</label>
            <input type="file" class="form-control" asp-for="@Model.Picture" />
        </div>
        

        <div class="text-center">
            <button type="submit" class="my-4 btn btn-info">بروزرسانی </button>
        </div>


    </form>
</div>