@model Endpoint.MVC.Dtos.Account.UpdateUserDto


<div class="main d-flex flex-column gap-4 pt-2 border border-black rounded-2">

    <div class="d-flex flex-column">
        <div class="d-flex justify-content-center align-items-center gap-2">
            <h6>خوش آمدید</h6>
            <img width="40" src="~/icon/register.png">
        </div>
    </div>

    <form method="post" asp-action="update" asp-controller="account" class="d-flex flex-column gap-3 mx-1">
        <div>
            <input required oninvalid="this.setCustomValidity('فیلد الزامی')" oninput="this.setCustomValidity('')" name="FullName" class="form-control" type="text" asp-for="@Model.FullName">
            <span class="text-danger" asp-validation-for="@Model.FullName"></span>
        </div>

        <div>
            <input required oninvalid="this.setCustomValidity('فیلد الزامی')" oninput="this.setCustomValidity('')" name="Username" class="form-control" type="text" asp-for="@Model.Username">
            <span class="text-danger" asp-validation-for="@Model.Username"></span>
        </div>

        <div>
            <input required oninvalid="this.setCustomValidity('فیلد الزامی')" oninput="this.setCustomValidity('')" name="Email" class="form-control" type="email" asp-for="@Model.Email">
            <span class="text-danger" asp-validation-for="@Model.Email"></span>
        </div>

        <div>
            <input required oninvalid="this.setCustomValidity('فیلد الزامی')" oninput="this.setCustomValidity('')" name="PhoneNumber" class="form-control" type="number" asp-for="@Model.PhoneNumber">
 
        </div>

        <div>
            <input required oninvalid="this.setCustomValidity('فیلد الزامی')" oninput="this.setCustomValidity('')" name="OldPassword" class="form-control" type="password" placeholder="رمز عبور قبلی">
            <span class="text-danger" asp-validation-for="@Model.OldPassword"></span>

        </div>

        <div>
            <input required oninvalid="this.setCustomValidity('فیلد الزامی')" oninput="this.setCustomValidity('')" id="NewPassword" name="NewPassword" class="form-control" type="password" placeholder="رمز عبور جدید">
            <span class="text-danger" asp-validation-for="@Model.NewPassword"></span>

        </div>
        <div>
            <input required oninvalid="this.setCustomValidity('فیلد الزامی')" oninput="this.setCustomValidity('')" id="ConfirmPassword" name="ConfirmPassword" class="form-control" type="password" placeholder="رمز عبور جدید">
            <span class="text-danger" asp-validation-for="@Model.ConfirmPassword"></span>


        </div>


        <button class="btn btn-primary my-3 mx-4 fw-bold" type="submit"> بروزرسانی</button>
    </form>
</div>


