@model Endpoint.MVC.Dtos.Products.ProductDetailsDto


@section js{
    <script>
        function AddProductToCart(productId) {
            let cookies = document.cookie;
            let cookieArray = cookies.split("; ");

            for (let i = 0; i < cookieArray.length; i++) {
                let cookie = cookieArray[i];
                let [name, value] = cookie.split("=");

                if (name === 'authorize') {
                    var token = 'Bearer ' + decodeURIComponent(value);
                }
            }

            $.ajax({
                url: `http://localhost:5153/api/Cart/AddProduct/` + productId,
                type: 'get',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Authorization', token);
                },
                success: function (response) {
                    alert('با موفقیت افزوده شد');

                },
                error: function (error) {

                    alert(JSON.stringify(error.responseText));
                }
            })
        }


        let id = 1;
        function getComment(productId) {
            
            if (id == 1) {

                $.ajax({
                    url: `http://localhost:5153/api/Product/GetCommentsByProductId/` + productId,
                    type: 'get',
                    dataType: 'json',
                    success: function (response) {

                        for (var i = 0; i < response.length; i++) {

                            const comment_container = document.createElement("div");
                            comment_container.classList.add('my-3', 'p-2', 'd-flex', 'flex-column', 'border', 'border-secondary', 'rounded-1');


                            const comment_header = document.createElement("header");
                            comment_header.classList.add('d-flex', 'justify-content-around', 'gap-3');


                            const h5_title = document.createElement("h7");
                            h5_title.innerHTML = '<span class="">' + 'عنوان: ' + response[i].title + '</span>' ;



                            const h6_buyer = document.createElement("h7");
                            h6_buyer.innerHTML = '<span class="">' + 'خریدار: ' + response[i].customerName+ '</span>';

                            const h6_recommended = document.createElement("h7");
                            if (response[i].isRecommended == true) {

                                h6_recommended.innerHTML = '<img src=" "/>' + 'پیشنهاد میشود';
                            }
                            else {
                                h6_recommended.innerHTML = '<img src=" "/>' + 'پیشنهاد نمیشود';

                            }


                            const div_description = document.createElement("div");
                            div_description.classList.add('mt-2', 'pe-5', 'fs-7', 'text-justify');
                            div_description.innerHTML = response[i].description;

                            comment_header.append(h5_title);
                            comment_header.append(h6_buyer);
                            comment_header.append(h6_recommended);
                            comment_container.append(comment_header);
                            comment_container.append(div_description);

                            var comment = document.getElementById('comment');
                            comment.append(comment_container);
                            id++;
                        }

                    },
                    error: function (error) {

                        alert(JSON.stringify(error.responseText));
                    }
                })

            }
        }


    </script>
    }

@using Endpoint.MVC.ExtensionMethods;
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="single-box">
                <div class="row">
                    <div class="col-md-7">
                        <div class="text-right">
                            <h6>@Model.EnglishTitle</h6>
                            <h4>@Model.PersianTitle</h4>
                            <hr />
                            <p><span class="fw-1">توضیحات:</span>  @Model.Description</p>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-7">
                                <div class="single-content-right">

                                    <br>
                                    <span>مشخصات محصول :</span><br>
                                    <ul class="product-ul">
                                        @for (int i = 0; i < Model.CustomAttributes.Count(); i++)
                                        {
                                            <li class="list-font list-group-item">@Model.CustomAttributes[i].Title : @Model.CustomAttributes[i].Value</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="single-content-left">
                                    <ul>
                                        <span>وضعیت : موجود در انبار</span>
                                        <br>

                                        <li>
                                            رنگ بندی :
                                            <ul>
                                                <li><i class="fa fa-square white"></i>سفید</li>
                                                <li><i class="fa fa-square black"></i>مشکی</li>
                                                <li><i class="fa fa-square silver"></i>نقره ای</li>
                                                <li><i class="fa fa-square gold"></i>طلایی</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h4>@Model.Price تومان (تخفیف % @Model.DiscountPercent)</h4>

                        <div class="btn-single">
                            <a href="javascript:AddProductToCart(@Model.Id);" class="btn"> افزودن به سبد </a>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="single-img">
                            <figure>
                                <img src="~/img/@Model.PictureName" class="w-100">
                            </figure>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="comment" class="my-5">
    <hr />
    <div class="d-flex gap-2">
        <button id="space1" onclick="getComment(@Model.Id)" class="btn btn-light">مشاهده نظرات</button>
        <a class="btn btn-light" asp-action="createcomment" asp-controller="product" asp-route-productId="@Model.Id">ثبت نظر</a>

    </div>

</div>

